// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
html {
  font-family: Arial, Helvetica, sans-serif;
  
}
body {
  margin: 0;

  
}

#logo-image {
  width: 100px;
  height: 100px;
}

.navbar {
  display: flex;
  // border: 2px solid blue;
  align-items: flex-start;
}

nav {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2em;
  a {
    color: #636B6F;
    padding: 0 25px;
    // border: 2px solid blue;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;

  }
}
h1 {
  color: red;
}
h2 {
  color: blue;
}
.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  .beer-list {
    width: 300px;
    margin: 30px;
    text-align: center;
    line-height: 2em;
    img {
      margin-top: 50px;
      margin-bottom: 50px;
      width: 300px;
    
    }
  }
}
.detail-beer {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 50px;
  line-height: 2em;

  .detail-beers {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
  }

  img {
  
    width: 400px;
    
  }

  .detail-beer_2 {
    max-width: 800px;
  }

}
.main-company {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .company-list {
    width: 450px;
    text-align: center;
    margin: 50px 50px;
    line-height: 2em;
    img {
      margin-top: 50px;
      margin-bottom: 50px;
      width: 300px;
      height: 300px; 
    }
  }
}
.detail-company {
  display: flex;
  text-align: center;
  justify-content: space-around;
  margin: 0 50px;
  line-height: 2em;
  img {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 300px;
    height: 300px; 
  }

/*   .detail-company_1 {
    margin-right: 100px;
  } */

  .detail-company_2 {
    max-width: 1000px;
  }
}
.new-container {

  margin-bottom: 50px;
  text-align: center;
  

  .carousel-inner {
    text-align: center;
    height: 500px;
    background-color: #21d192;
    margin-top: 50px;
    margin-bottom: 100px;

    #main-image {
      margin-top: 50px;
      width: 300px;
      height: 300px;
    }
  }
}
.color-quantity{
  color: white;
}

.header-container {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  text-align: center;
  
  .login-header {
    display: flex;
    justify-content: center;
  }

}




/* .review-form {
  margin-top: 1em;
  border-top: 1px solid #999999;
  h2 {
      margin: 0.5em 0 0.25em;
  }
  .form-group {
      margin-bottom: 0.5em;
      label {
          color: #999999;
      }
      input,
      textarea {
          margin-top: 0.5em;
          border: 1px solid #999999;
          border-radius: 0.125em;
          &[type="number"] {
              width: 3em;
          }
      }
  }
}
.related-books {
  display: flex;
  flex-direction: row;
  & > div {
      width: 25%;
  }
} */
